@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Saira+Extra+Condensed:wght@200&display=swap');

body {
    text-align: center;
    background-color: #047d3e;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.intro {
    display: flex;
    flex-direction: column;
    font-family: Archivo, Arial;
    padding: 10px;
}


.intro p {
    padding: 20px;
    line-height: 1.4rem;
    color: #f5faf6;
}

.intro h1 {
    margin-bottom: 0;
}

.username {
    display: inline-flex;
    flex-direction: column;
    font-family: Archivo, Arial
}

.username label {
    font-family: Archivo, Arial;
}

.username input {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.25);
    color: #fff;
    margin: 5px;
    font-family: "Saira Extra Condensed", Arial;
    font-size: 20px;
}

.username button {
    font-family: Archivo, Arial;
    font-size: 18px;
}

.jbhand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.jbhand img {
    height: 130px;
    width: auto;
    padding: 0.2rem;
}

.score {
    display: flex;
    justify-content: center;
    width: auto;
    font-family: "Saira Extra Condensed", Arial;
    font-size: 20px;
}

.score h3 {
    margin: 0;
}

.userhand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userhand img {
    height: 130px;
    width: auto;
    padding: 0.2rem;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-top: 2vh;
}

.controls button {
    height: 50px;
    width: 75px;
    font-size: 20px;
    font-weight: bold;
}

.deck img {
    height: 130px;
    width: auto;
    border: 3px solid white;
    border-radius: 2%;
    ;
}

.result {
    font-family: Archivo, Arial
}