@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid:wght@100&display=swap');

body {
    text-align: center;
    background-color: #047d3e;
    background-size: cover;
    height: 100%;
    margin: 5px;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.intro p {
    line-height: 1.4rem;
    color: #f5faf6;
    font-family: 'Londrina Solid', cursive;
    font-size: 25px;
}

.intro h1 {
    margin-bottom: 0;
    font-family: 'Londrina Outline', cursive;
    font-size: 75px;
}

#jbimage img {
    height: 300px;
    width: fit-content;
    opacity: 0.3;
    border-radius: 25%;
}

.username {
    display: inline-flex;
    flex-direction: column;
    font-family: Archivo, Arial
}

.username label {
    font-family: Archivo, Arial;
}

.username input {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.25);
    color: #fff;
    margin: 5px;
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}

.username button {
    font-family: 'Londrina Solid', cursive;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    
}

#jbhand {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#jbhand img {
    height: 130px;
    width: auto;
    padding: 0.2rem;
}

.score {
    display: flex;
    justify-content: center;
    width: auto;
    font-family: "Saira Extra Condensed", Arial;
    font-size: 20px;
}

.score h3 {
    margin: 0;
    font-family: 'Londrina Outline', cursive;
    font-size: 40px;
}

#userhand {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#userhand img {
    height: 130px;
    width: auto;
    padding: 0.2rem;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.controls button {
    height: 30px;
    width: 75px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Londrina Solid', cursive;
}

.deck img {
    height: 130px;
    width: auto;
    border: 3px solid white;
    border-radius: 2%;
    ;
}

.legend {
    border: dashed;
    width: 25%;
    margin: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 18px;

}

@media screen and (max-width: 420px) {

    #jbhand img {
        height: 110px;
        width: auto;
        padding: 0.2rem;
    }

    #userhand img {
        height: 110px;
        width: auto;
        padding: 0.2rem;
    }

    .deck img {
        height: 110px;
        width: auto;
        border: 3px solid white;
        border-radius: 2%;

    }

    .controls button {
        height: 30px;
        width: 75px;
        font-size: 14px;
        font-weight: bold;
    }
}

@media screen and (max-height: 480px) {
    .intro {
        display: flex;
        flex-direction: column;
        font-family: Archivo, Arial;
        padding: 0;
    }

    .intro p {
        line-height: 1.4rem;
        color: #f5faf6;
        padding: 0;
    }

    #jbhand img {
        height: 80px;
        width: auto;
        padding: 0.2rem;
    }

    .deck img {
        height: 80px;
        width: auto;
        border: 3px solid white;
        border-radius: 2%;
    }

    #userhand img {
        height: 80px;
        width: auto;
        padding: 0.2rem;
    }
}