body {
    text-align: center;

    background-image: url("/assets/images/blackjack-cloth.jpg");
    background-size: cover;
}

.intro p {
    margin: 0;
    line-height: 1.4rem;
}

.jbhand {
    height: auto;
    width: auto;
    display: inline-flex;
}

.jbhand img {
    height: 130px;
    width: auto;
    padding: 0.2rem;

}

.userhand {
    height: auto;
    width: auto;
    display: inline-flex;
}

.userhand span {
    height: 3rem;
    padding: 1rem;
}

.controls button {
    height: 2rem;
    width: 4rem;
}

.deck img {
    height: 150px;
    width: auto;
    border: 3px solid white;
    border-radius: 2%;
    ;
}